Package: com.chpwn.zephyr
Name: Zephyr
Section: Tweaks
Version: 1.2.3
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate, preferenceloader, applist, com.rpetrich.layersnapshotter
Conflicts: com.dapetcu21.MultiCleaner (<= 2.9.4), com.xsellize.multicleaner, com.xsellize.zephyr
Icon: file:///Library/PreferenceLoader/Preferences/Zephyr@2x.png
Architecture: iphoneos-arm
Description: Awesome, useful swipe multitasking!
Depiction: http://chpwn.com/cydia/zephyr.html
Homepage: http://chpwn.com/cydia/zephyr.html
Author: chpwn <support@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: cydia::commercial, purpose::extension
dev: chpwn
